<h1>Order History</h1>

<div class="table-responsive col-lg-12"  >

    <table class="table table-striped cart">

        <thead>
            <tr>
                <th></th>
                <th>Order Number</th>
                <th>Friends</th>
                <th>Order Status</th>
                <th>Date</th>
                <th>Total</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="order in orders">
                <td></td>
                <td>{{order.id}}</td>
                <td><span ng-repeat="item in order.items"><a ng-href="/product/{{ item.friendId }}">{{ item.name }}{{ $last ? '' : ', '}}</a></span></td>
                <td>{{ order.status }}</td>
                <td>{{ order.createdAt | date }}</td>
                <td>{{ order.total | currency }}</td>
            </tr>
        </tbody>
    </table>

</div>