<div>

<form id="profile-form" name="profileForm" ng-submit="profileForm.$valid && updateProfile(profile, user.id)">
    <h2>Welcome, {{ user.name }}.</h2>
    <h3>You can change your email and password here.</h3>
    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" ng-model="profile.email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="profile-password">Password</label>
        <input type="password" ng-model="profile.password" class="form-control" id="profile-password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Update your information</button>
</form>

<button type="button" ui-sref="profile.history" class="btn btn-default">View Order History</button>

</div>

<div ui-view></div>

