
<div role="tabpanel" class="tab-pane" id="reviews">

	<div ng-repeat="review in reviews">
		<h3>{{ review.title }}</h3>
		<p class="star-rating">
            <span class="glyphicon" ng-repeat="star in getStars(review.rating) track by $index" ng-class="{ 'glyphicon-star': star, 'glyphicon-star-empty': !star }"></span>
        </p>
		<p class="top-10"> {{ review.review }}</p>
	</div>


	<form>
	  <div class="form-group">
	    <label>Review Title</label>
	    <input type="text" class="form-control" ng-model="review.title" placeholder="Title Here...">
	  </div>
	  <div class="form-group">
	    <label>Review Content</label>
	    <input type="textarea" class="form-control" placeholder="Review Here..." ng-model="review.review">
	  </div>
	  <label>Rating</label>
	  <select class="form-control" ng-model="review.rating">
	  	  <option value="" disabled selected>Select Rating</option>
		  <option value="0">0</option>
		  <option value="1">1</option>
		  <option value="2">2</option>
		  <option value="3">3</option>
		  <option value="4">4</option>
		  <option value="5">5</option>
	  </select>
	  <button type="submit" class="btn btn-default" ng-click="submitReview(review)">Submit</button>
	</form>

</div>