<!-- <section id="cart">
  <input type=text ng-model="itemId"> Item
  <button ng-click="addToCart(itemId)">Add To Cart</button>
  <button ng-click="getUserCart()">get user cart</button>
  <button ng-click="saveCart()">save cart</button>
  <button ng-click="purchase()">purchase</button>

</section> -->


<div class="alert alert-warning empty-warning" role="alert" ng-show="items.length === 0">
    Your cart is empty
</div>


<div class="table-responsive col-lg-12" ng-if="items.length > 0" >

    <table class="table table-striped cart">

        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Hours</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td>{{ total | currency }}</td>
        </tr>
        </tfoot>
        <tbody>
        <tr ng-repeat="item in items track by item.itemId">
            <td><span ng-click="deleteItem(item.itemId)" class="glyphicon glyphicon-remove"></span></td>

            <td>{{ item.name }}</td>

            <td><span class="glyphicon glyphicon-minus"

                      ng-click="updateQty(item.itemId, -1)"></span>&nbsp;&nbsp;
                {{ item.qty | number }}&nbsp;&nbsp;

                <span class="glyphicon glyphicon-plus" ng-click="updateQty(item.itemId, 1)"></span></td>

            <td>{{ item.hours }}</td>
            <td>{{ item.price | currency}}</td>
            <td>{{ getItemTotal(item.itemId) | currency}}</td>

        </tr>
        </tbody>
    </table>

    <section id="cart">
    <button type="button" class="btn btn-primary" ng-click="clearCart()">clear cart</button>
    <button type="button" class="btn btn-primary" ui-sref="cart.checkout">checkout</button>
    </section>

    <div ui-view></div>
</div>

<style>
    .ngCart.cart span[ng-click] {
        cursor: pointer;
    }
    .ngCart.cart .glyphicon.disabled {
        color:#aaa;
    }
</style>
