<section id="home">
    <!-- Page Content -->
    <div class="container" ng-controller="HomeController">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">codeFriends</p>
                <!-- MAY CHANGE THIS FOR TAGS -->
                <div class="list-group">
                    <a href="#" class="list-group-item">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>

            </div>
            <div class="col-md-9">

                <!-- Carousel -->
                <div class="row carousel-holder" ng-controller="CarouselCtrl">
                    <div class="col-md-12">
                        <div>
                            <div style="height: 305px">
                                <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                                    <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                                        <img ng-src="{{slide.image}}" style="margin:auto;width:800px;height:300px;">
                                        <div class="carousel-caption">
                                            <h4>Slide {{slide.id}}</h4>
                                            <p>{{slide.text}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <tags-input ng-model="tags"></tags-input>

                <!-- Individual product thumbnails -->
                <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="friend in allFriends">
                        <div class="thumbnail">
                            <img src="{{friend.imageUrl}}" alt="{{friend.name}}">
                            <div class="caption">
                                <h4 class="pull-right">${{ friend.price }}</h4>
                                <h4><a ui-sref="product({friendId: friend.id})">{{ friend.name }}</a>
                                </h4>
                                <p>{{ friend.description.length > 96 ? friend.description.substring(0,95) + '...' : friend.description }}</p>
                            </div>
                            
                            <div class="ratings">

                                <p class="pull-right">{{ friend.numRevs }} {{ friend.numRevs === 1 ? 'Review' : 'Reviews' }}</p>
                                <p class="star-rating">
                                    <span class="glyphicon" ng-repeat="star in getStars(friend.avgRating) track by $index" ng-class="{ 'glyphicon-star': star, 'glyphicon-star-empty': !star }"></span>
                                </p>                                

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- /.container -->
    <div class="container">
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; codeFriends 2016 <a href="https://github.com/kenzable/codeFriends">
                    <img src="./github-cat-white-black-32.png" border="0"></th></p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap.min.js"></script>
</section>

